{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-start mb-2">
  <div>
    <h2>Папка: {{ folder.name }}</h2>
    <p>{{ folder.description }}</p>
    <p>Проект: <a href="{% url 'norma:project-detail-web' pk=folder.project.pk %}">{{ folder.project.name }}</a></p>
  </div>
  <div>
    <a class="btn btn-sm btn-danger" href="{% url 'norma:folder-delete-web' project_pk=folder.project.pk pk=folder.pk %}">Удалить папку</a>
  </div>
</div>
{% if folder.parent_folder %}
<p>Родитель: <a href="{% url 'norma:folder-detail-web' project_pk=folder.project.pk pk=folder.parent_folder.pk %}">{{ folder.parent_folder.name }}</a></p>
{% endif %}
<hr>
<h3>Вложенные папки</h3>
<ul>
  {% for sub in subfolders %}
    <li><a href="{% url 'norma:folder-detail-web' project_pk=folder.project.pk pk=sub.pk %}">{{ sub.name }}</a></li>
  {% empty %}
    <li>Нет вложенных папок</li>
  {% endfor %}
</ul>
<a class="btn btn-sm btn-primary" href="{% url 'norma:folder-create-in-folder-web' project_pk=folder.project.pk folder_pk=folder.pk %}">Добавить вложенную папку</a>
<hr>
<h3>Кейсы в папке</h3>
<ul>
  {% for case in test_cases %}
    <li>{{ case.title }}</li>
  {% empty %}
    <li>Нет кейсов</li>
  {% endfor %}
</ul>
{% endblock %}
