<!-- список проектов, расширяет базовый шаблон base.html -->

{% extends 'norma/base.html' %}

{% block content %}
<div>
    <h1>Проекты</h1>
</div>

<!--Сайдбар, пока не готов-->
<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Домашняя страница" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"/></svg>
        </a>
      </li>
            <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Помощь" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"/></svg>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">Настройки</a></li>
        <li><a class="dropdown-item" href="#">Профиль</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Выйти из учетной записи</a></li>
      </ul>
    </div>
  </div>

<!--Это должны быть кнопки с левой стороны:все проекты, избранное-->
<div class="left-control-button-group">
    <button type="button" class="btn-success" value="Все">Все</button>
    <button type="button" class="btn-warnings" value="Избранное">Избранное</button>
    
</div>
<a href="{% url 'proj_new' %}">Новый проект</a>
<!--строка поиска по центру-->
<!--кнопка создания нового проекта с правой-->
<div class="table">
    <table>
        <tr>
            <td>#</td>
            <td>Название</td>
            <td>Дата создания</td>
            <td>Последнее обновление</td>
            <td>Участники</td>
        </tr>
    {% for proj in projs %}
     <tr>
            <td>{{ proj.id}}</td>
            <td><a href="{% url 'proj_dashboard' pk=proj.pk %}"> {{ proj.title}}</a></td>
            <td>{{ proj.created_date}}</td>
            <td>{{ proj.last_update_date}}</td>
            <td>{{ proj.personel}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}